<a href="https://colab.research.google.com/github/Hongquanthaort/Git/blob/main/Bai_t%E1%BA%ADp_v%C3%B2ng_l%E1%BA%B7p.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# bai 1
i = 1
while(i<=10):
    print(i)
    i += 1

In [26]:
# bai 2
rows = int(input("Enter the number of rows: "))  
for i in range(0, rows + 1):   
    for j in range(rows - i, 0, -1):  
        print(j, end=' ')  
    print()

Enter the number of rows: 8
8 7 6 5 4 3 2 1
7 6 5 4 3 2 1
6 5 4 3 2 1
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [9]:
#bai 3
n = int(input("Enter number: "))
sum = 0
for num in range(1, n + 1, 1):
    sum = sum + num
print("Sum of first ", n, "numbers is: ", sum)

Enter number: 3
Sum of first  3 numbers is:  6

In [12]:
#bai 4
num = int(input("Enter the number: "))
print("Multiplication Table of", num)
for i in range(1, 11):
   print(num,"X",i,"=",num * i)

Enter the number: 3
Multiplication Table of 3
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30

In [13]:
#Bai 5
list = ["Táo", "Bưởi", "chè"]
for x in list:
  print(x)

Táo
Bưởi
chè

In [15]:
#Bai 6
n=int(input("Enter number:"))
count=0
while(n>0):
    count=count+1
    n=n//10
print("The number of digits in the number are:",count)

Enter number:321
The number of digits in the number are: 3

In [23]:
#Bai 7
digits = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
for i in range(len(digits)):
    last_item = digits.pop()
    digits.insert(i, last_item)
print(digits)

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [33]:
#bài 8
for i in range(-10, 0):
    print(i, end=", ")

-10, -9, -8, -7, -6, -5, -4, -3, -2, -1,

In [36]:
#Bai 9
member_list = ['Hoa', 'Thảo', 'Mai']
for name in member_list:
    print(name)
else:
    print("Done")

Hoa
Thảo
Mai
Done

In [40]:
#Bai 10
First = int(input())
end = int(input())
print("Prime numbers between", First, "and", end, "are:")

for num in range(First, end + 1):
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num)

1
10
Prime numbers between 1 and 10 are:
2
3
5
7

In [47]:
#Bai 11
n = 10
a = 0
b = 1
sum = 0
count = 1
print("Fibonacci Series: ", end = " ")
while(count <= n):
  print(sum, end = " ")
  count += 1
  a = b
  b = sum
  sum = a + b

Fibonacci Series:  0 1 1 2 3 5 8 13 21 34

In [45]:
#Bai 12
num = int(input("Enter a number: "))

factorial = 1

if num < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,num + 1):
       factorial = factorial*i
   print("The factorial of",num,"is",factorial)

Enter a number: 4
The factorial of 4 is 24

In [56]:
#Bai 13
num = 2345
reversed_num = 0

while num != 0:
    digit = num % 10
    reversed_num = reversed_num * 10 + digit
    num //= 10

print("Reversed Number: " + str(reversed_num))

Reversed Number: 5432

In [59]:
#Bai 14
arr = [1, 2, 3, 4, 5];         
print("Elements of given array present on odd position: ");          
for i in range(0, len(arr), 2):    
    print(arr[i]);

Elements of given array present on odd position:
1
3
5

In [60]:
#Bai 15
def cube(x):
    return x * x * x
n = int(input(" Enter the number : "))
cube1 = cube(n)
print("The Cube of {0}  = {1}".format(n, cube1))

 Enter the number : 3
The Cube of 3  = 27