<a href="https://colab.research.google.com/github/Hongquanthaort/Git/blob/main/bai_tap_phan_tich_anova_1_chieu.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Hãy sử dụng các tập dữ liệu sau và tiến hành phân tích ANOVA 1 chiều

- [Excavation Depth and Archaeology](https://college.cengage.com/mathematics/brase/understandable_statistics/7e/students/datasets/owan/frames/owan01.html)
- [Apple Orchard Experiment](https://college.cengage.com/mathematics/brase/understandable_statistics/7e/students/datasets/owan/frames/owan02.html)
- [Red Dye Number 40](https://college.cengage.com/mathematics/brase/understandable_statistics/7e/students/datasets/owan/frames/owan03.html)
- [Business Startup Costs](https://college.cengage.com/mathematics/brase/understandable_statistics/7e/students/datasets/owan/frames/owan04.html)
- [Weights of Football Players](https://college.cengage.com/mathematics/brase/understandable_statistics/7e/students/datasets/owan/frames/owan05.html)

Phân tích Excavation Depth and Archaeology

In [2]:
import pandas as pd
import numpy as np
import scipy.stats as st

In [3]:
#ĐỌc dữ liệu
df = pd.read_csv("owan01.csv")
df.head()

    X1    X2     X3    X4
0   93  85.0  100.0  96.0
1  120  45.0   75.0  58.0
2   65  80.0   65.0  95.0
3  105  28.0   40.0  90.0
4  115  75.0   73.0  65.0

In [4]:
#sàng lọc dữ liệu
x1=df['X1'].dropna()
x2=df['X2'].dropna()
x3=df['X3'].dropna()
x4=df['X4'].dropna()
print(x1)
print(x2)
print(x3)
print(x4)

0      93
1     120
2      65
3     105
4     115
5      82
6      99
7      87
8     100
9      90
10     78
11     95
12     93
13     88
14    110
Name: X1, dtype: int64
0    85.0
1    45.0
2    80.0
3    28.0
4    75.0
5    70.0
6    65.0
7    55.0
8    50.0
9    40.0
Name: X2, dtype: float64
0     100.0
1      75.0
2      65.0
3      40.0
4      73.0
5      65.0
6      50.0
7      30.0
8      45.0
9      50.0
10     45.0
11     55.0
Name: X3, dtype: float64
0    96.0
1    58.0
2    95.0
3    90.0
4    65.0
5    80.0
6    85.0
7    95.0
8    82.0
Name: X4, dtype: float64



*Giả thuyết*
 * $H_0$: Các mẫu có cùng phương sai:

  $σ_1^2=σ_2^2=σ_3^2=σ_4^2$
 * $H_a$: Tồn tại một cặp khác phương sai

 
 *Giả thuyết*
  * $H_0$: Các mẫu tuân theo phân phối chuẩn
  * $H_a$: Các mẫu không tuân theo phân phỗi chuẩn

In [8]:
from scipy.stats import levene
_,p=levene(x1,x2,x3,x4)
print("p=" ,p)
#kiểm tra phân phối chuẩn
from scipy.stats import shapiro
_,p1=shapiro(x1)
print("p1:",p1)
_,p2=shapiro(x2)
print("p2:",p2)
_,p3=shapiro(x3)
print("p3:",p3)
_,p4=shapiro(x4)
print("p4:",p4)

p= 0.5020818274234007
p1: 0.9960364103317261
p2: 0.864689826965332
p3: 0.601704478263855
p4: 0.13579683005809784

In [11]:
if p>0.05:
  print("Với dữ liệu ta vừa thu thập để phân tích có thể thấy được các mẫu có cùng phương sai")
else:
  print("Với dữ liệu ta vừa thu thập để phân tích có thể thấy được các mẫu không có cùng phương sai")

Với dữ liệu ta vừa thu thập để phân tích có thể thấy được các mẫu có cùng phương sai

In [12]:
if p1> 0.05:
  print('Với dữ liệu ta vừa thu thập để phân tích có thể thấy được các mẫu có cùng phân phối chuẩn')
else:
  print('Với dữ liệu ta vừa thu thập để phân tích có thể thấy được các mẫu không có cùng phân phối chuẩn')
if p2> 0.05:
  print('Với dữ liệu ta vừa thu thập để phân tích có thể thấy được các mẫu có cùng phân phối chuẩn')
else:
  print('Với dữ liệu ta vừa thu thập để phân tích có thể thấy được các mẫu không có cùng phân phối chuẩn')
if p3> 0.05:
  print('Với dữ liệu ta vừa thu thập để phân tích có thể thấy được các mẫu có cùng phân phối chuẩn')
else:
  print('Với dữ liệu ta vừa thu thập để phân tích có thể thấy được các mẫu không có cùng phân phối chuẩn')
if p4> 0.05:
  print('Với dữ liệu ta vừa thu thập để phân tích có thể thấy được các mẫu có cùng phân phối chuẩn')
else:
  print('Với dữ liệu ta vừa thu thập để phân tích có thể thấy được các mẫu không có cùng phân phối chuẩn')

Với dữ liệu ta vừa thu thập để phân tích có thể thấy được các mẫu có cùng phân phối chuẩn
Với dữ liệu ta vừa thu thập để phân tích có thể thấy được các mẫu có cùng phân phối chuẩn
Với dữ liệu ta vừa thu thập để phân tích có thể thấy được các mẫu có cùng phân phối chuẩn
Với dữ liệu ta vừa thu thập để phân tích có thể thấy được các mẫu có cùng phân phối chuẩn

* Giả thuyết 
 * $H_0$: các địa điểm khảo cổ có độ sâu trung bình bằng nhau

     $\bar x_1=\bar x_2=\bar x_3=\bar x_4$
 * $H_a$: Có sự khác nhau về độ sâu trung bình của các điểm khảo cổ

In [13]:
#kiểm định anova oneway
from scipy.stats import f_oneway
_,p=f_oneway(x1,x2,x3,x4,)
print("p=" ,p)

p= 7.99057539367343e-07

In [14]:
if p> 0.05:
  print('Với dữ liệu ta vừa thu thập để phân tích có thể thấy được các mẫu độ có sâu trung bình bằng nhau')
else:
  print('Với dữ liệu ta vừa thu thập để phân tích có thể thấy được các mẫu độ không có sâu trung bình bằng nhau')

Với dữ liệu ta vừa thu thập để phân tích có thể thấy được các mẫu độ không có sâu trung bình bằng nhau

Phân tích Apple Orchard Experiment

In [15]:
#ĐỌc dữ liệu
df = pd.read_csv("owan02.csv")
df.head()

     X1    X2    X3    X4    X5
0  2569  2074  2505  2838  1532
1  2928  2885  2315  2351  2552
2  2865  3378  2667  3001  3083
3  3844  3906  2390  2439  2330
4  3027  2782  3021  2199  2079

In [16]:
#sàng lọc dữ liệu
x1=df['X1'].dropna()
x2=df['X2'].dropna()
x3=df['X3'].dropna()
x4=df['X4'].dropna()
print(x1)
print(x2)
print(x3)
print(x4)

0    2569
1    2928
2    2865
3    3844
4    3027
5    2336
6    3211
7    3037
Name: X1, dtype: int64
0    2074
1    2885
2    3378
3    3906
4    2782
5    3018
6    3383
7    3447
Name: X2, dtype: int64
0    2505
1    2315
2    2667
3    2390
4    3021
5    3085
6    3308
7    3231
Name: X3, dtype: int64
0    2838
1    2351
2    3001
3    2439
4    2199
5    3318
6    3601
7    3291
Name: X4, dtype: int64

*Giả thuyết*
 * $H_0$: Các mẫu có cùng phương sai:

  $σ_1^2=σ_2^2=σ_3^2=σ_4^2$
 * $H_a$: Tồn tại một cặp khác phương sai 

 
 *Giả thuyết*
  * $H_0$: Các mẫu tuân theo phân phối chuẩn
  * $H_a$: Các mẫu không tuân theo phân phỗi chuẩn

In [17]:
from scipy.stats import levene
_,p=levene(x1,x2,x3,x4)
print("p=" ,p)
#kiểm tra phân phối chuẩn
from scipy.stats import shapiro
_,p1=shapiro(x1)
print("p1:",p1)
_,p2=shapiro(x2)
print("p2:",p2)
_,p3=shapiro(x3)
print("p3:",p3)
_,p4=shapiro(x4)
print("p4:",p4)

p= 0.7650714581028858
p1: 0.644533634185791
p2: 0.7472830414772034
p3: 0.3169650137424469
p4: 0.5994704365730286

* Giả thuyết 
 * $H_0$: các địa điểm khảo cổ có độ sâu trung bình bằng nhau

     $\bar x_1=\bar x_2=\bar x_3=\bar x_4$
 * $H_a$: Có sự khác nhau về độ sâu trung bình của các điểm khảo cổ

In [18]:
#kiểm định anova oneway
from scipy.stats import f_oneway
_,p=f_oneway(x1,x2,x3,x4,)
print("p=" ,p)

p= 0.6409257498820091

In [19]:
if p> 0.05:
  print('Với dữ liệu ta vừa thu thập để phân tích có thể thấy được các mẫu độ có sâu trung bình bằng nhau')
else:
  print('Với dữ liệu ta vừa thu thập để phân tích có thể thấy được các mẫu độ không có sâu trung bình bằng nhau')

Với dữ liệu ta vừa thu thập để phân tích có thể thấy được các mẫu độ có sâu trung bình bằng nhau