<a href="https://colab.research.google.com/github/Hongquanthaort/Git/blob/main/Th%E1%BB%91ng_k%C3%AA_suy_di%E1%BB%85n_ANOVA_m%E1%BB%99t_chi%E1%BB%81u.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#***Thống kê suy diễn - ANOVA một chiều***

Các thư viện cần sử dụng

In [1]:
import pandas as pd
import numpy as np
import scipy.stats as st
from scipy.stats import f_oneway

Nhập tập dữ liệu cho thống kê suy diễn

In [2]:
data = pd.read_csv("Diet_R.csv")
data.head(10)

   Person gender  Age  Height  pre.weight  Diet  weight6weeks
0      25          41     171          60     2          60.0
1      26          32     174         103     2         103.0
2       1      0   22     159          58     1          54.2
3       2      0   46     192          60     1          54.0
4       3      0   55     170          64     1          63.3
5       4      0   33     171          64     1          61.1
6       5      0   50     170          65     1          62.2
7       6      0   50     201          66     1          64.0
8       7      0   37     174          67     1          65.0
9       8      0   28     176          69     1          60.5

Lọc dữ liệu số lượng người trong nhóm có chế độ ăn kiêng khác nhau

In [3]:
data.groupby("Diet").Person.count()

Diet
1    24
2    27
3    27
Name: Person, dtype: int64

Để so sánh chế độ giảm cân thì không thể phụ thuộc vào trọng lượng ban đầu được, vì vậy nên chỉ có thể so sánh bằng chỉ số khối cơ thể tính đến chiều cao của 1 người. Trước và sau khi giảm cân

BMI = cân nặng(kilo)/ chiều cao^2(mét)

In [4]:
data ['BMI_start'] = data ["pre.weight"] / (data ["Height"] / 100)**2
data ["BMI_end"] = data ["weight6weeks"] / (data ["Height"] / 100)**2
data ["BMI_change"] = data ['BMI_start'] - data ["BMI_end"]
data

,Person,gender,Age,Height,pre.weight,Diet,weight6weeks,BMI_start,BMI_end,BMI_change
0,25,,41,171,60,2,60.0,20.519134,20.519134,0.000000
1,26,,32,174,103,2,103.0,34.020346,34.020346,0.000000
2,1,0,22,159,58,1,54.2,22.942130,21.439025,1.503105
3,2,0,46,192,60,1,54.0,16.276042,14.648438,1.627604
4,3,0,55,170,64,1,63.3,22.145329,21.903114,0.242215
...,...,...,...,...,...,...,...,...,...,...
73,74,1,35,183,83,3,80.2,24.784258,23.948162,0.836095
74,75,1,49,177,84,3,79.9,26.812219,25.503527,1.308692
75,76,1,28,164,85,3,79.7,31.603212,29.632659,1.970553
76,77,1,40,167,87,3,77.8,31.195095,27.896303,3.298792
77,78,1,51,175,88,3,81.9,28.734694,26.742857,1.991837

Tạo mảng với các thay đổi BMI trong các biến khác nhau cho mọi chế độ ăn uống

In [7]:
diet_1 = data [data["Diet"] == 1]["BMI_change"].to_list()
diet_2 = data [data["Diet"] == 2]["BMI_change"].to_list()
diet_3 = data [data["Diet"] == 3]["BMI_change"].to_list()

Kiểm tra phân phối chuẩn

In [8]:
from scipy.stats import shapiro
_,p1=shapiro(diet_1)
print("p1:",p1)
_,p2=shapiro(diet_2)
print("p2:",p2)
_,p3=shapiro(diet_1)
print("p3:",p3)

p1: 0.06736458837985992
p2: 0.7722797989845276
p3: 0.06736458837985992

In [9]:
if p1> 0.05:
  print('Với dữ liệu ta vừa thu thập để phân tích có thể thấy được các mẫu có cùng phân phối chuẩn')
else:
  print('Với dữ liệu ta vừa thu thập để phân tích có thể thấy được các mẫu không có cùng phân phối chuẩn')
if p2> 0.05:
  print('Với dữ liệu ta vừa thu thập để phân tích có thể thấy được các mẫu có cùng phân phối chuẩn')
else:
  print('Với dữ liệu ta vừa thu thập để phân tích có thể thấy được các mẫu không có cùng phân phối chuẩn')
if p3> 0.05:
  print('Với dữ liệu ta vừa thu thập để phân tích có thể thấy được các mẫu có cùng phân phối chuẩn')
else:
  print('Với dữ liệu ta vừa thu thập để phân tích có thể thấy được các mẫu không có cùng phân phối chuẩn')

Với dữ liệu ta vừa thu thập để phân tích có thể thấy được các mẫu có cùng phân phối chuẩn
Với dữ liệu ta vừa thu thập để phân tích có thể thấy được các mẫu có cùng phân phối chuẩn
Với dữ liệu ta vừa thu thập để phân tích có thể thấy được các mẫu có cùng phân phối chuẩn

Kiểm tra phương sai

In [10]:
from scipy.stats import levene
_,p=levene(diet_1,diet_2,diet_3)
print("p=" ,p)

p= 0.37117119715835095

In [11]:
if p>0.05:
  print("Với dữ liệu ta vừa thu thập để phân tích có thể thấy được các mẫu có cùng phương sai")
else:
  print("Với dữ liệu ta vừa thu thập để phân tích có thể thấy được các mẫu không có cùng phương sai")

Với dữ liệu ta vừa thu thập để phân tích có thể thấy được các mẫu có cùng phương sai

Tiến hành Anova oneway

In [19]:
from scipy.stats import f_oneway
stats, p_value= f_oneway(diet_1, diet_2, diet_3)
print("p_value:",p_value)

p_value: 0.0005345120426406237

In [20]:
if p_value < 0.05:
  print("Có bằng chứng bác bỏ giả thuyết H0")
else:
  print("Không có bằng chứng bác bỏ giả thuyết H0")

Có bằng chứng bác bỏ giả thuyết H0

p-value, tức là xác suất mà theo giả thuyết không đúng, thống kê F không nhỏ hơn 11,49 là 0,0000372 hoặc 0,0037%. Vì giá trị này không vượt quá mức ý nghĩa α = 5% nên giả thuyết vô hiệu bị bác bỏ.